body{
	color:black;
	margin:1rem;
}

.title{
	text-align: center;
	background-color:lightgray;
}

.main-page{
	display:inline-flex;
	width:100%;
}

article{
	width:65%;
}

aside{
	background-color: black;
	color:white;
	border-style: solid;
	border-color:navy;
	border-width: .3rem;
	margin:1rem;
	width:35%;
}

li{
	margin:1rem 0rem;
}